body {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    background: linear-gradient(180deg, #EBF3FA 0%, #E3EDF7 51.56%, #E6F0F9 100%);
}

.container {
    max-width: 324px;
    margin: 0 auto;
    padding: 0;
}
