{% extends 'common/layout.html' %}

{% load static %}

{% block content %}
    <div class="container static">
        <h1>About App</h1>
        <p>Apollo is an application server for Raspberry Pi.</p>
        <p>This application currently in beta, so no warranties, use at your own risk.</p>
        <br>
        <p>Current version: <strong>0.1.39</strong></p>
        <p>Author: <strong>Alexander Chaika</strong></p>
        <p>Email: <a href="mailto:manti.by@gmail.com">manti.by@gmail.com</a></p>
        <p>License:
            <a href="https://raw.githubusercontent.com/manti-by/Apollo/master/NEW-BSD-LICENSE">
                NEW BSD LICENSE
            </a>
        </p>
    </div>
{% endblock %}