<!DOCTYPE html>
<html lang="en">
<head>
    <title>PiBot Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div id="content">
        {% block content %}
            <h1>Apollo App Dashboard</h1>
            <div id="charts"></div>
        {% endblock %}
    </div>
</body>
</html>
