body {
    font-family: 'Open Sans', sans-serif;
    background: #EEEEEE;
}

nav,
#controls,
.card {
    margin-bottom: 20px;
}

#controls {
    padding: 0 1em;
}

.card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 6px;
    background: #F7F7F7;
}

.card-header {
    text-align: right;
    color: rgba(72, 72, 77, .3);
    border-bottom: none;
    background: #F7F7F7;
}

.card-header:first-child {
    border-radius: 6px;
}

.plants-latest canvas {
    width: 100%;
}

.plants-latest label {
    display: block;
    text-align: center;
}