[Unit]
Description=Coruscant server
After=network.target

[Service]
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/app/
EnvironmentFile=/home/manti/app/.env
ExecStart=/home/manti/.local/bin/uvicorn apollo.server:app --host 0.0.0.0 --workers 2
StandardOutput=file:/home/manti/logs/server-access.log
StandardError=file:/home/manti/logs/server-error.log
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
