settings_local = {
    'debug': True,
    'interface': 'eth0',
    'db_path': '/home/manti/www/apollo/db.json',
    'sensors_path': '/home/manti/www/apollo/sensors.json',
    'sensors': {
        '30:85:A9:AC:4A:61': 'Test',
    },
}
