<!doctype html>
<html lang="en">
<head>
    <title>Apollo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="author" content="Alexander Chaika">
    <meta name="description" content="Apollo IOT app.">
    <meta name="theme-color" content="#F7F7F7">

    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <span class="navbar-brand">Apollo</span>
            <span id="status" class="my-2 text-secondary">
                Last update: {{ time }}
            </span>
        </nav>
        <main class="row">
            <div id="indoor-climate"></div>
            <div id="indoor-climate-report"></div>
            <div id="datetime"></div>
            <div id="currency"></div>
            <div id="weather"></div>
        </main>
    </div>

    {% raw %}
    <script id="t-indoor-climate" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Indoor Climate
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <canvas id="plants-latest-temp"></canvas>
                        <label>Temperature</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <canvas id="plants-latest-humidity"></canvas>
                        <label>Humidity</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <canvas id="plants-latest-moisture"></canvas>
                        <label>Moisture</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <canvas id="plants-latest-luminosity"></canvas>
                        <label>Luminosity</label>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="t-indoor-climate-report" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Indoor Climate Report
            </div>
            <div class="card-body">
                <form id="controls" action="/" method="get" class="row">
                    <div class="form-group col-12 col-md-6 col-lg-3">
                        <label for="limit">Limit:</label>
                        <select id="limit" name="limit" class="form-control limit">
                            <option value="5"{{#if options.limit == 5 %} selected{{/if}}>5</option>
                            <option value="10"{{#if options.limit == 10 %} selected{{/if}}>10</option>
                            <option value="25"{{#if options.limit == 25 %} selected{{/if}}>25</option>
                            <option value="100"{{#if options.limit == 100 %} selected{{/if}}>100</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-md-6 col-lg-3">
                        <label for="group">Group:</label>
                        <select id="group" name="group" class="form-control group">
                            <option value="live"{{#if options.group = 'live' %} selected{{/if}}>Live</option>
                            <option value="hourly"{{#if options.group == 'hourly' %} selected{{/if}}>Hourly</option>
                            <option value="daily"{{#if options.group == 'daily' %} selected{{/if}}>Daily</option>
                            <option value="monthly"{{#if options.group == 'monthly' %} selected{{/if}}>Monthly</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-lg-6 d-none">
                        <div>
                            <label>Graph Type:</label>
                        </div>
                        <div class="row">
                            <div class="input-group col-12 col-sm-6">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="type-absolute" type="radio" name="type"
                                               class="type" value="absolute"
                                               {{#if options.type == 'absolute' %}checked{{/if}}>
                                    </div>
                                </div>
                                <label class="form-control" for="type-absolute">
                                    Absolute
                                </label>
                            </div>
                            <div class="input-group col-12 col-sm-6">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="type-relative" type="radio" name="type"
                                               class="type" value="relative"
                                               {{#if options.type == 'relative' }}checked{{/if}}>
                                    </div>
                                </div>
                                <label class="form-control" for="type-relative">
                                    Relative
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <canvas id="plants-report"></canvas>
            </div>
        </div>
    </script>

    <script id="t-datetime" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Date and Time
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row justify-content-end align-items-center">
                        <div class="col-12 date">
                            {{ date }}
                        </div>
                        <div class="col-12 time">
                            {{ time }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="t-currency" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Exchange Rates
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row justify-content-end align-items-center">
                        <div class="col-12 usd">
                            {{ usd_sell }} / {{ usd_buy }}
                            <span class="sign">1 USD</span>
                        </div>
                        <div class="col-12 rur">
                            {{ rur_sell }} /  {{ rur_buy }}
                            <span class="sign">1000 RUR</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="t-weather" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Weather
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row justify-content-end align-items-center">
                        <div class="col-3">
                            <img src="{{ icon }}" alt="weather" class="icon">
                        </div>
                        <div class="col-9">
                            <div class="temp">
                                Temp: {{ temp }} &deg;C
                            </div>
                            <div class="wind">
                                Wind: {{ wind }} m/s
                                <span class="wind-direction">
                                    <i class="material-icons">trending_flat</i>
                                </span>
                            </div>
                            <div class="pressure">
                                Pressure: {{ pressure }} mmHg
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {% endraw %}

    <!--- JavaScript libraries --->
    <script src="{{ url_for('static', filename='js/lib/compiled.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/sensor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/datetime.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/weather.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/currency.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/indoor-climate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/indoor-climate-report.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!--- Service Worker initialization --->
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('{{ url_for('static', filename='js/sw.js') }}', {scope: '/static/js/sw.js'})
                .catch((err) => console.log(err));
        }
    </script>
</body>
</html>
