<!doctype html>
<html lang="en">
  <head>
    <title>Apollo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="author" content="Alexander Chaika">
    <meta name="description" content="Apollo IOT app.">
    <meta name="theme-color" content="#F7F7F7">

    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    {% compress 'css' %}
      <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />

      <link href="{{ url_for('static', filename='css/widget/currency.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/widget/datetime.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/widget/weather.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/widget/indoor-climate.css') }}" rel="stylesheet" type="text/css" />

      <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css" />
      <link href="{{ url_for('static', filename='css/media.css') }}" rel="stylesheet" type="text/css" />
    {% endcompress %}
  </head>
  <body>
  <div class="container">
    <main>
      <div id="state" class="screen">
        <div id="datetime"></div>
        <div id="weather"></div>
        <div id="currency"></div>
      </div>
      <div id="home" class="screen">
        <div id="indoor-climate"></div>
      </div>
      <div id="report" class="screen">
        <div id="indoor-climate-report"></div>
      </div>
    </main>
    <nav>
      <button data-target="#state" class="block">
        <img src="{{ url_for('static', filename='svg/state.svg') }}" alt="State">
      </button>
      <button data-target="#home" class="block">
        <img src="{{ url_for('static', filename='svg/home.svg') }}" alt="Home">
      </button>
      <button data-target="#report" class="block">
        <img src="{{ url_for('static', filename='svg/report.svg') }}" alt="Report">
      </button>
    </nav>
    <div id="status"></div>
  </div>

  {% raw %}
  <script id="t-indoor-climate" type="text/x-handlebars-template">
    <h2>Indoor Climate</h2>
    <div class="gauge temp">
      <div class="arrow"></div>
    </div>
    <div class="block flex">
      <div class="chart humidity">
        <h3>Humidity</h3>
        <div class="wrap">
          <canvas id="indoor-climate-humidity-canvas" width="72" height="72"></canvas>
          <div class="value"></div>
        </div>
      </div>
      <div class="chart moisture">
        <h3>Moisture</h3>
        <div class="wrap">
          <canvas id="indoor-climate-moisture-canvas" width="72" height="72"></canvas>
          <div class="value"></div>
        </div>
      </div>
      <div class="chart luminosity">
        <h3>Luminosity</h3>
        <div class="wrap">
          <canvas id="indoor-climate-luminosity-canvas" width="72" height="72"></canvas>
          <div class="value"></div>
        </div>
      </div>
    </div>
  </script>

  <script id="t-indoor-climate-report" type="text/x-handlebars-template">
    <h2>Indoor Climate Report</h2>
    <form id="controls" action="/" method="get" class="row">
      <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="limit">Limit:</label>
        <select id="limit" name="limit" class="form-control limit">
          <option value="5">5</option>
          <option value="10" selected>10</option>
          <option value="25">25</option>
        </select>
      </div>
      <div class="form-group col-12 col-md-6 col-lg-3">
        <label for="group">Group:</label>
        <select id="group" name="group" class="form-control group">
          <option value="live">Live</option>
          <option value="hourly" selected>Hourly</option>
          <option value="daily">Daily</option>
        </select>
      </div>
    </form>
    <canvas id="indoor-climate-report-canvas"></canvas>
  </script>

  <script id="t-datetime" type="text/x-handlebars-template">
    <div class="block">
      <div class="body">
        <div class="date">
          {{ date }}
        </div>
        <div class="time">
          {{{ time }}}
        </div>
      </div>
    </div>
  </script>

  <script id="t-currency" type="text/x-handlebars-template">
    <div class="block">
      <div class="usd flex">
        <span class="flag">
          <img src="/static/img/flags/us.png" alt="US">
        </span>
        <span class="sign">1 USD</span>
        <span class="value">{{ usd_sell }} / {{ usd_buy }}</span>
      </div>
      <div class="eur flex">
        <span class="flag">
          <img src="/static/img/flags/eu.png" alt="EU">
        </span>
        <span class="sign">1 EUR</span>
        <span class="value">{{ eur_sell }} / {{ eur_buy }}</span>
      </div>
      <div class="rur flex">
        <span class="flag">
          <img src="/static/img/flags/ru.png" alt="RU">
        </span>
        <span class="sign">100 RUR</span>
        <span class="value">{{ rur_sell }} / {{ rur_buy }}</span>
      </div>
    </div>
  </script>

  <script id="t-weather" type="text/x-handlebars-template">
      <div class="block flex">
        <span class="icon">
          <img src="{{ icon }}" alt="Weather">
        </span>
        <span class="temp">
          {{ temp }} &deg;C
        </span>
        <span class="optional">
          <div class="wind">
            <strong>Wind</strong><br/>
            {{ wind }} m/s
          </div>
          <div class="pressure">
            <strong>Pressure</strong><br/>
            {{ pressure }} mmHg
          </div>
        </span>
      </div>
  </script>
  {% endraw %}

  <!--- JavaScript libraries --->
  {% compress 'js' %}
    <script src="{{ url_for('static', filename='js/lib/chart-js.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/handlebars.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/requests.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/widget/datetime.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/widget/weather.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/widget/currency.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/widget/indoor-climate.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/widget/indoor-climate-report.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  {% endcompress %}

  <!--- Service Worker initialization --->
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('{{ url_for('static', filename='js/sw.js') }}', {scope: '/static/js/sw.js'})
        .catch((err) => console.log(err));
    }
  </script>
  </body>
</html>
