#datetime .body {
    margin: .5rem;
    padding: 1rem;
    font-family: 'Digital-Display', sans-serif;
    font-size: 18px;
    color: #505854;
    background: linear-gradient(138.56deg, #CAD4C5 21.38%, #A8B89E 84.14%);
    box-shadow:
            inset -5.72174px -5.72174px 15.258px rgba(255, 255, 255, 0.25),
            inset 5.72174px 5.72174px 9.53623px rgba(124, 124, 124, 0.3);
    border: 2px solid #88918C;
    border-radius: 14px;
}

#datetime .time {
    padding: 1rem 0;
    font-size: 72px;
    text-align: center;
}

#datetime .time .separator {
  animation: blinker 2s steps(1, end) infinite;
}