#weather .icon {
    width: 33%;
}

#weather .icon img {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
}

#weather .icon {
    width: 33%;
}

#weather .temp {
    margin-top: 1.5rem;
    font-size: 36px;
    font-weight: 500;
    color: #31456A;
}

#weather .optional {
    margin-top: 1rem;
    padding-left: .5rem;
    font-size: 12px;
}