<!doctype html>
<html lang="en">
<head>
    <title>Benjamin</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <span class="navbar-brand">Apollo</span>
            <span id="status" class="my-2 text-secondary">
                Last update: {{ time }}
            </span>
        </nav>
        <main>
            <div class="card plants-latest">
                    <div class="card-header">
                        Ficus Benjamin Status
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <canvas id="plants-latest-temp"></canvas>
                            <label>Temperature</label>
                        </div>
                        <div class="col">
                            <canvas id="plants-latest-humidity"></canvas>
                            <label>Humidity</label>
                        </div>
                        <div class="col">
                            <canvas id="plants-latest-moisture"></canvas>
                            <label>Moisture</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Ficus Benjamin Report
                </div>
                <div class="card-body">
                    <form id="controls" action="/" method="get" class="row">
                        <div class="form-group col-2">
                            <label for="limit">Limit:</label>
                            <select id="limit" name="limit" class="form-control limit">
                                <option value="5"{% if options.limit == 5 %} selected{% endif %}>5</option>
                                <option value="10"{% if options.limit == 10 %} selected{% endif %}>10</option>
                                <option value="25"{% if options.limit == 25 %} selected{% endif %}>25</option>
                                <option value="100"{% if options.limit == 100 %} selected{% endif %}>100</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="group">Group:</label>
                            <select id="group" name="group" class="form-control group">
                                <option value="live"{% if options.group == 'live' %} selected{% endif %}>Live</option>
                                <option value="hourly"{% if options.group == 'hourly' %} selected{% endif %}>Hourly</option>
                                <option value="daily"{% if options.group == 'daily' %} selected{% endif %}>Daily</option>
                                <option value="monthly"{% if options.group == 'monthly' %} selected{% endif %}>Monthly</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <div>
                                <label>Graph Type:</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="type-absolute" type="radio" name="type"
                                                   class="type" value="absolute"
                                                   {% if options.type == 'absolute' %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <label class="form-control" for="type-relative">
                                        Absolute
                                    </label>
                                </div>
                                <div class="input-group col-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="type-stacked" type="radio" name="type"
                                                   class="type" value="relative"
                                                   {% if options.type == 'relative' %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <label class="form-control" for="type-relative">
                                        Relative
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <canvas id="plants-report"></canvas>
                </div>
            </div>
            <div id="weather"></div>
        </main>
    </div>

    {% raw %}
    <script id="t-weather" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Weather
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col">Temp: {{ temp }} &deg;C</div>
                        <div class="col">Wind: {{ wind }} m/s {{ wind_dir }}</div>
                        <div class="col">Pressure: {{ pressure }} mmHg</div>
                        <div class="col"><img src="{{ icon }}" alt="weather"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {% endraw %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"
            integrity="sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"
            integrity="sha256-qlku5J3WO/ehJpgXYoJWC2px3+bZquKChi4oIWrAKoI="
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/lib/sensor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/weather.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plants-latest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plants-report.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>