<!doctype html>
<html lang="en">
<head>
    <title>Benjamin</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Alexander Chaika">
    <meta name="description" content="Raspberry Pi app for monitoring Ficus Benjamina health.">
    <meta name="theme-color" content="#F7F7F7">

    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <span class="navbar-brand">Apollo</span>
            <span id="status" class="my-2 text-secondary">
                Last update: {{ time }}
            </span>
        </nav>
        <main>
            <div class="card plants-latest">
                    <div class="card-header">
                        Ficus Benjamin Status
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <canvas id="plants-latest-temp"></canvas>
                            <label>Temperature</label>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <canvas id="plants-latest-humidity"></canvas>
                            <label>Humidity</label>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <canvas id="plants-latest-moisture"></canvas>
                            <label>Moisture</label>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <canvas id="plants-latest-luminosity"></canvas>
                            <label>Luminosity</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Ficus Benjamin Report
                </div>
                <div class="card-body">
                    <form id="controls" action="/" method="get" class="row">
                        <div class="form-group col-2">
                            <label for="limit">Limit:</label>
                            <select id="limit" name="limit" class="form-control limit">
                                <option value="5"{% if options.limit == 5 %} selected{% endif %}>5</option>
                                <option value="10"{% if options.limit == 10 %} selected{% endif %}>10</option>
                                <option value="25"{% if options.limit == 25 %} selected{% endif %}>25</option>
                                <option value="100"{% if options.limit == 100 %} selected{% endif %}>100</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <label for="group">Group:</label>
                            <select id="group" name="group" class="form-control group">
                                <option value="live"{% if options.group == 'live' %} selected{% endif %}>Live</option>
                                <option value="hourly"{% if options.group == 'hourly' %} selected{% endif %}>Hourly</option>
                                <option value="daily"{% if options.group == 'daily' %} selected{% endif %}>Daily</option>
                                <option value="monthly"{% if options.group == 'monthly' %} selected{% endif %}>Monthly</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <div>
                                <label>Graph Type:</label>
                            </div>
                            <div class="row">
                                <div class="input-group col-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="type-absolute" type="radio" name="type"
                                                   class="type" value="absolute"
                                                   {% if options.type == 'absolute' %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <label class="form-control" for="type-absolute">
                                        Absolute
                                    </label>
                                </div>
                                <div class="input-group col-6">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <input id="type-relative" type="radio" name="type"
                                                   class="type" value="relative"
                                                   {% if options.type == 'relative' %}checked{% endif %}>
                                        </div>
                                    </div>
                                    <label class="form-control" for="type-relative">
                                        Relative
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <canvas id="plants-report"></canvas>
                </div>
            </div>
            <div id="weather"></div>
        </main>
    </div>

    {% raw %}
    <script id="t-weather" type="text/x-handlebars-template">
        <div class="card">
            <div class="card-header">
                Weather
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <div class="col">Temp: {{ temp }} &deg;C</div>
                        <div class="col">Wind: {{ wind }} m/s {{ wind_dir }}</div>
                        <div class="col">Pressure: {{ pressure }} mmHg</div>
                        <div class="col"><img src="{{ icon }}" alt="weather"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {% endraw %}

    <!--- JavaScript libraries --->
    <script src="{{ url_for('static', filename='js/lib/compiled.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/sensor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/weather.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/plants-latest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget/plants-report.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!--- Service Worker initialization --->
    <script type="text/javascript">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('{{ url_for('static', filename='js/sw.js') }}', {scope: '/static/js/sw.js'})
                .catch((err) => console.log(err));
        }
    </script>
</body>
</html>