{% verbatim %}
<script id="t-item" type="text/x-handlebars-template">
    <div class="mdl-card__supporting-text content">
        <img src="{{ thumb }}" class="shot-image">
        {{{ text }}}
        <div class="date">
            {{ date }}
        </div>
    </div>
    <div class="mdl-card__actions actions {{#if opened }}{{else}}hidden{{/if}}">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect delete" data-id="{{ id }}">
            Delete
        </a>
        <div class="mdl-layout-spacer"></div>
        <div>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored increase">
                <i class="material-icons">add_circle_outline</i>
            </button>
            <span class="quantity">
                <input type="text" name="quantity" value="{{ quantity }}"
                       data-id="{{ id }}" data-type-id="{{ type.id }}">
            </span>
            <button class="mdl-button mdl-js-button mdl-button--icon decrease">
                <i class="material-icons">remove_circle_outline</i>
            </button>
        </div>
    </div>
</script>

<script id="t-list" type="text/x-handlebars-template">
    <div class="mdl-grid">
        <h2 class="mdl-cell mdl-cell--12-col">Your Latest shots</h2>
        {{#each shots}}
            <div class="mdl-cell mdl-cell--4-col">
                <div class="mdl-card shot">
                    {{>item}}
                </div>
            </div>
        {{else}}
            <div class="empty mdl-cell mdl-cell--12-col">
                You haven't added any shots yet.
            </div>
        {{/each}}
    </div>
</script>
{% endverbatim %}