{% extends 'common/layout.html' %}

{% load static %}

{% block content %}
    <div class="mdl-grid">
        <h2 class="mdl-cell mdl-cell--12-col">Apollo App Dashboard</h2>
        <div id="chart_01" class="chart mdl-cell mdl-cell--4-col"></div>
        <div id="chart_02" class="chart mdl-cell mdl-cell--4-col"></div>
        <div id="chart_03" class="chart mdl-cell mdl-cell--4-col"></div>
        <div id="chart_04" class="chart mdl-cell mdl-cell--4-col"></div>
        <div id="chart_05" class="chart mdl-cell mdl-cell--4-col"></div>
    </div>
{% endblock %}